#root {
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 900;
}

.buttonWrapper {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 15px;
}

.buttonWrapper > button {
  height: 200px;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 2px solid white;
  border-radius: 10px;
  white-space: pre-wrap;
  word-break: keep-all;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 3s ease-in;
}

.buttonWrapper > button:hover {
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.buttonWrapper > button > span {
  transition: all 3s ease-in;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.99;
}

.buttonAlignmentItems {
  /*background: linear-gradient(135deg, #ff7979, #eb4d4b);*/
  background-color: #ff7979;
}

.buttonBorderRightItems {
  background-color: #ffbe76;
}


.buttonBackgroundColor {
  /*background: linear-gradient(135deg, #badc58, #6ab04c);*/
  background-color: #f6e58d;
}

.buttonOpacity1 {
  background-color: #6ab04c;
}

.buttonOpacity2 {
  opacity: 1;
  background-color: rgb(109, 203, 208);
}
