#root {
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 900;
}

.box {
    border-radius: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #f6e58d, #f9ca24);
    margin: 30px 0 10px;
    transition: all 5s ease-in;
}

.circle {
    transition: all 3s ease-in;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: white;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    row-gap: 10px;
}

.buttonWrapper > button {
    width: 400px;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    text-align: center;
    white-space: pre-wrap;
    word-break: keep-all;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}

.buttonWrapper > button:hover {
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.20);
}

.buttonWrapper > button:disabled {
    cursor: not-allowed;
}

.buttonAlignmentItems {
    background-color: #AF99EB;
}

.buttonOpacity {
    background-color: #90C285;
}

.buttonBackgroundColor {
    background-color: #54704e;
}

.logoWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px 0 25px;
}

.logoWrapper > img {
    width: auto;
}

.description {
    text-align: center;
    color: rgb(209 213 219);
}

.inputWrapper {
    display: grid;
    align-items: center;
    grid-template-areas: "label label" "input button";
}

